.site-header {
	background: url('../../../img/background-header.jpg') repeat-x #fff;
	width:100%;
}

.side-header-top {
	padding: 0 0 0 20%;
	@include mq(lap) {padding: 0 0 0 15%;}
	@include mq(tablet) {padding: 0 0 0 20%;}
	@include mq(phone) {padding: 0;}
}

.site-branding {
	width: 75%;
	display: inline-block;
	vertical-align: top;
	@include mq(lap) { width: 80%;}
	@include mq(phone) {width: 100%; }

	.site-title {
		display: inline-block;
		width: 35%;
		vertical-align: top;
		margin-top: 0.2em;
		@include mq(tablet) {width: 100%; margin: 0 0 0; }
		@include mq(phone) {width: 100%; margin: 0.15em 0 0; }

		a {
			background: url('../../../img/logo-loulou.svg') no-repeat center center;
			display : block;
			height: 90px;
			width: 279px;
			text-indent: -9999px;
			@include mq(tablet) {margin: 0 auto; }
			@include mq(phone) {
				margin: 0 auto; 
				background: url('../../../img/logo-loulou-small.svg');
				height: 64px;
				width: 200px;
			}
		}

	}

	.site-description {
		display: inline-block;
		width: 65%;
		vertical-align: top;
		font-family: 'Mohave';
		font-style:   normal;
		font-weight:  400;
		font-size: 1.7em;
		text-transform: uppercase;
		color: #fff;
		margin-top: 1.4em;
		padding-left: 0.8em;
		letter-spacing: 2.5px;
		@include mq(lap) { font-size: 1.5em; margin-top: 1.5em; padding-left: 1.5em; letter-spacing: 1px}
		@include mq(tablet) {width: 100%; margin: 0.2em 0 0; font-size: 0.8em; text-align: center;}
		@include mq(phone) {display:none;}
	}
}

.nav-social {
	display: inline-block;
	width: 25%;
	vertical-align: top;
	@include mq(lap) { width: 20%;}
	@include mq(phone) {width: 100%; }
}


/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	width: 100%;
	margin-top: 0.4em;
	text-align:center;
	@include mq(tablet) {width: 80%; margin: 0.2em auto 0;}
	@include mq(phone) {width: 95%; margin: 0.2em auto 0;}
}
.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.main-navigation .menu > li {
	//float: left;
	display:inline-block;
	position: relative;
	padding-left: 2em;
	//padding-bottom: 0.5em;
	position:relative;
	transition: 0.2s all ease-in;
	@include mq(tablet) {width:100%; padding: 0.5em 0; margin:0.1em 0; background: $red-principal; }
	@include mq(phone) {width:100%; padding: 0.5em 0; margin:0.1em 0; background: $red-principal; }
	
	&:hover {
		@include mq(tablet) {background: #fff;}
		@include mq(phone) {background: #fff;}

		a {
			@include mq(tablet) {color:$red-principal;}
			@include mq(phone) {color:$red-principal;}
		}
	}

	&::before {
		content: "\2022";
		position: absolute;
		top: .25em;
		left: 0.6em;
		@include mq(tablet) {content: "";}
		@include mq(phone) {content: "";}
	}

	&:first-child::before {
		content: "";
	}

}

//menu home
.main-navigation .menu > .menu-item-home {
	padding-left:0;
}

.main-navigation a {
	display: block;
	text-decoration: none;
	color: $blue-principal;
	font-family: 'Mohave';
	font-style:   normal;
	font-weight:  700;
	font-size: 1.3em;
	text-transform:uppercase;
	text-align: left;
	transition: 0.2s all ease-in;
	@include mq(tablet) {text-align: center; font-size: 1em; color:#fff;}
	@include mq(phone) {text-align: center; font-size: 1em; color:#fff;}

	&:hover {
		color: $red-principal;
	}
}
.main-navigation ul ul {
	display: none;
	float: left;
	left: 0.75em;
	position: absolute;
	top: 2.2em;
	z-index: 99999;
	@include mq(tablet) {position: static; float:none;}
	@include mq(phone) {position: static; float:none;}
}
.main-navigation ul ul ul {
	left: 100%;
	top: 0;
}
.main-navigation .menu ul a {
	width: 200px;
	@include mq(tablet) {width:100%; text-align: center; color:#fff;}
	@include mq(phone) {width:100%; text-align: center; color:#fff;}

	&:hover {
		@include mq(tablet) { color:$blue-principal;}
		@include mq(phone) {color:$blue-principal;}
	}
}
.main-navigation .menu ul li {
	background: #fff;
	margin-top: 0.25em;
	padding-left: 1.75em;
	transition: 0.2s all ease-in;
	@include mq(tablet) {padding: 0.5em; background: $blue-principal; }
	@include mq(phone) {padding: 0.5em; background: $blue-principal; }

	&:hover {
		@include mq(tablet) { background:#fff;}
		@include mq(phone) {background:#fff;}		
	}
}
.main-navigation li:hover > a {
}
.main-navigation ul ul :hover > a {
}
.main-navigation ul ul a:hover {
}
.main-navigation ul li:hover > ul {
	display: block;
}
.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current-menu-ancestor > a {
	color: $red-principal;
	@include mq(tablet) {color: $blue-principal;}
	@include mq(phone) {color: $blue-principal;}
}
/* Small menu */
.menu-toggle {
	cursor: pointer;
	display: none;
}
@media screen and (max-width: 63em) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.menu-toggle {
		text-align: center;
		font-size: 1.75em;
		display: inline-block;
		color: #fff;
		border-radius: 5px;
		padding: .2em .5em .2em 1.8em;
		margin-bottom: 0.2em;
		background: url('../../../img/icon-menu.svg') no-repeat 0.5em center $blue-principal;
	}

	.main-navigation ul {
		display: none;
	}
}