//================
//Home
.post-27, .post-324 {

	h2 {
		color: $blue-principal;
		font-family: 'Mohave';
		font-style:   normal;
		font-weight:  700;
		font-size: 1.35em;
		text-transform:uppercase;
		text-align: center;
		margin-bottom: 2em;
	}

	p {
		text-align: center;
	}
}